@import '../globals.scss';

#home {
  .header {
    height: 60vh;
    background-image: url('../../img/header_image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $white;
    position: relative;
    z-index: 0;

    .title-container {
      position: absolute;
      bottom: 50px;
      left: 5%;
      backdrop-filter: blur(3px);
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 20px;

      h1 {
        font-size: 6rem;
        color: $white;
        margin: 0;
        text-transform: uppercase;
        font-weight: bold;
      }

      h2 {
        font-weight: bold;
        font-size: 3rem;
        color: $white;
        margin: 0;
        margin-top: -20px;
        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px;
      }
    }
  }

  .direct {
    padding-left: 5%;
    padding-right: 5%;

    h1 {
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
    }

    .cards-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }

  .content {
    margin-top: 10vh;
    padding-left: 5%;
    padding-right: 5%;

    h1 {
      color: $black;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}


.ring-container {
  position: relative;
}

.circle {
  width: 30px;
  height: 30px;
  background-color: $red;
  border-radius: 50%;
  position: absolute;
  top: 23px;
  left: 23px;
}

.ringring {
  border: 3px solid $red;
  -webkit-border-radius: 30px;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 15px;
  top: 15px;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.0
}

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1.0;
  }

  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.0;
  }
}